@import url('https://fonts.googleapis.com/css?family=Lato|Oswald');

@su: 1vw;
@sideMargin: 19.5*@su; 

@import "style";
    
@media all and (max-width: 768px) {
    #paginationContainer { 
        margin-top: -6vw;
    }
}
